In [11]:
import numpy as np
import pandas as pd

from sklearn import model_selection
from sklearn import linear_model
from sklearn import tree
from sklearn import metrics
from sklearn import ensemble

In [3]:
a = np.array([4.4, 3.8, 4.8, 4.0, 3.4, 4.2, 5.2])
b = np.mean(a)
np.sum((a - b)**2)/7

0.31673469387755115

In [17]:
df = pd.read_csv('data/wineQualityReds.csv')
df

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,1595,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,1596,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,1597,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,1598,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,1599,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [18]:
df['quality'] = df['quality'].apply(lambda val: 1 if val >= 6 else 0)

In [20]:
X = df.drop(['quality', 'Unnamed: 0'], axis=1)
y = df['quality']

In [21]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=42)

In [22]:
lr = linear_model.LogisticRegression()
lr.fit(X_train, y_train)
y_test_pred = lr.predict(X_test)
print(metrics.f1_score(y_test, y_test_pred))

0.7514231499051234

/home/vadim/anaconda3/envs/sf/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [23]:
dt = tree.DecisionTreeClassifier(max_depth=10, random_state=42)
dt.fit(X_train, y_train)
y_test_pred = dt.predict(X_test)
print(metrics.f1_score(y_test_pred, y_test))

0.7927927927927927

In [24]:
dt = tree.DecisionTreeClassifier(max_depth=10, random_state=42)
bag = ensemble.BaggingClassifier(
    base_estimator=dt,
    n_estimators=1500,
    random_state=42
)
bag.fit(X_train, y_train)
y_test_pred = bag.predict(X_test)

print(metrics.f1_score(y_test, y_test_pred))

0.8181818181818181

In [57]:
df = pd.read_csv('data/boston (1).csv')
df

,crim_rate,zn,business,river,nit_oxiden,rooms,age,dist,highways_index,tax,pup_per_teaс,lower,target
0,"0,00632",18,"2,31",0,"0,538","6,575","65,2","4,09",1,296,"15,3","4,98",24
1,"0,02731",0,"7,07",0,"0,469","6,421","78,9","4,9671",2,242,"17,8","9,14","21,6"
2,"0,02729",0,"7,07",0,"0,469","7,185","61,1","4,9671",2,242,"17,8","4,03","34,7"
3,"0,03237",0,"2,18",0,"0,458","6,998","45,8","6,0622",3,222,"18,7","2,94","33,4"
4,"0,06905",0,"2,18",0,"0,458","7,147","54,2","6,0622",3,222,"18,7","5,33","36,2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,"0,06263",0,"11,93",0,"0,573","6,593","69,1","2,4786",1,273,21,"9,67","22,4"
502,"0,04527",0,"11,93",0,"0,573","6,12","76,7","2,2875",1,273,21,"9,08","20,6"
503,"0,06076",0,"11,93",0,"0,573","6,976",91,"2,1675",1,273,21,"5,64","23,9"
504,"0,10959",0,"11,93",0,"0,573","6,794","89,3","2,3889",1,273,21,"6,48",22
505,"0,04741",0,"11,93",0,"0,573","6,03","80,8","2,505",1,273,21,"7,88","11,9"

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   crim_rate       506 non-null    object
 1   zn              506 non-null    object
 2   business        506 non-null    object
 3   river           506 non-null    int64
 4   nit_oxiden      506 non-null    object
 5   rooms           506 non-null    object
 6   age             506 non-null    object
 7   dist            506 non-null    object
 8   highways_index  506 non-null    int64
 9   tax             506 non-null    int64
 10  pup_per_teaс    506 non-null    object
 11  lower           506 non-null    object
 12  target          506 non-null    object
dtypes: int64(3), object(10)
memory usage: 51.5+ KB

In [63]:
df = df.replace({',':'.'}, regex=True)

In [70]:
df['crim_rate'] = np.float64(df['crim_rate'])
df['zn'] = np.float64(df['zn'])
df['business'] = np.float64(df['business'])
df['nit_oxiden'] = np.float64(df['nit_oxiden'])
df['rooms'] = np.float64(df['rooms'])
df['age'] = np.float64(df['age'])
df['dist'] = np.float64(df['dist'])
df['pup_per_teaс'] = np.float64(df['pup_per_teaс'])
df['lower'] = np.float64(df['lower'])
df['target'] = np.float64(df['target'])

In [72]:
X = df.drop('target', axis=1)
y = np.float64(df['target'])

In [73]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=13)

In [74]:
y_train.mean()

22.77316384180791

In [75]:
print(np.mean(y_train))

22.77316384180791

In [76]:
lr = linear_model.LinearRegression()
lr.fit(X_train, y_train)
y_test_pred = lr.predict(X_test)
print(metrics.mean_absolute_error(y_test, y_test_pred))

3.722279395856146

In [79]:
dt = tree.DecisionTreeRegressor(random_state=13)
dt.fit(X_train, y_train)
y_train_pred = dt.predict(X_train)
y_test_pred = dt.predict(X_test)
print(metrics.mean_absolute_error(y_train, y_train_pred))
print(metrics.mean_absolute_error(y_test, y_test_pred))

0.0
2.8388157894736845

In [81]:
n_ests = np.array([3, 10, 100, 500])
for n_est in n_ests:
    rt = ensemble.RandomForestRegressor(n_estimators=n_est, random_state=13)
    rt.fit(X_train, y_train)
    y_test_pred = rt.predict(X_test)
    print(n_est)
    print(metrics.mean_absolute_error(y_test, y_test_pred))

3
2.9328947368421057
10
2.466315789473684
100
2.2559736842105265
500
2.2365657894736892