In [14]:
import numpy as np
import pandas as pd
from sklearn import datasets
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model

In [5]:
boston = datasets.load_boston()
df = pd.DataFrame(data=boston.data, columns=boston.feature_names)
df['PRICE'] = boston.target
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [16]:
crim = df['CRIM']
rm = df['RM']
A = np.column_stack((np.ones(506), crim, rm))
y = df[['PRICE']]

In [17]:
print(A.shape)

(506, 3)

In [19]:
w_hat = np.linalg.inv(A.T@A)@A.T@y
print(w_hat.values)

[[-29.24471945]
 [ -0.26491325]
 [  8.39106825]]

In [28]:
crim_new = 0.2
rm_new = 6
price_new = w_hat.iloc[0] + w_hat.iloc[1]*crim_new + w_hat.iloc[2]*rm_new
print(price_new)

PRICE    21.048707
dtype: float64

In [26]:
new = np.array([[1, crim_new, rm_new]])
print((new@w_hat).values)

[[37.85733519]]

In [27]:
model = linear_model.LinearRegression(fit_intercept=False)
model.fit(A, y)
print(model.coef_)
y_new = model.predict(new)
print(y_new)

[[-29.24471945  -0.26491325   8.39106825]]
[[37.85733519]]

In [29]:
A = np.array([
    [1, 1, 1, 1], 
    [2, 1, 1, 2], 
    [-2, -1, -1, -2]]
).T
y = np.array([1, 2, 5, 1])

print(np.linalg.inv(A.T@A)@A.T@y)

LinAlgError: Singular matrix

In [30]:
model = linear_model.LinearRegression(fit_intercept=False)
model.fit(A, y)
print(model.coef_)

[ 6.   -1.25  1.25]

In [32]:
A_ = df[['CHAS', 'LSTAT', 'CRIM','RM']]
A_.describe()

             CHAS       LSTAT        CRIM          RM
count  506.000000  506.000000  506.000000  506.000000
mean     0.069170   12.653063    3.613524    6.284634
std      0.253994    7.141062    8.601545    0.702617
min      0.000000    1.730000    0.006320    3.561000
25%      0.000000    6.950000    0.082045    5.885500
50%      0.000000   11.360000    0.256510    6.208500
75%      0.000000   16.955000    3.677083    6.623500
max      1.000000   37.970000   88.976200    8.780000

In [60]:
A = np.column_stack((np.ones(506), A_))
y = df[['PRICE']]
print(A.shape)
print(y.shape)
w_hat = np.linalg.inv(A.T@A)@A.T@y
print(w_hat.values)

(506, 5)
(506, 1)
[[-1.92052548]
 [ 3.9975594 ]
 [-0.58240212]
 [-0.09739445]
 [ 5.07554248]]

In [36]:
A = A_
A_cent = A - A.mean()
A_st = A_cent/np.linalg.norm(A_cent, axis=0)
A_st.describe().round(2)

         CHAS   LSTAT    CRIM      RM
count  506.00  506.00  506.00  506.00
mean    -0.00   -0.00   -0.00   -0.00
std      0.04    0.04    0.04    0.04
min     -0.01   -0.07   -0.02   -0.17
25%     -0.01   -0.04   -0.02   -0.03
50%     -0.01   -0.01   -0.02   -0.00
75%     -0.01    0.03    0.00    0.02
max      0.16    0.16    0.44    0.16

In [37]:
y_cent = y - y.mean()
y_st = y_cent/np.linalg.norm(y_cent, axis=0)

In [38]:
w_hat = np.linalg.inv(A_st.T@A_st)@A_st.T@y_st
print(w_hat.values)

[[ 0.11039956]
 [-0.45220423]
 [-0.09108766]
 [ 0.38774848]]

In [39]:
A = np.array([12, 8]).T
A_cent = A - A.mean()
A_st = A_cent/np.linalg.norm(A_cent, axis=0)
print(A_st)

[ 0.70710678 -0.70710678]

In [43]:
a = np.array([5, 1, 2])
b = np.array([4, 2, 8])
A = np.array([a, b]).T
A

array([[5, 4],
       [1, 2],
       [2, 8]])

In [48]:
a_cent = a - a.mean()
b_cent = b - b.mean()
coef = (a_cent@b_cent)/(np.linalg.norm(a_cent, axis=0) * np.linalg.norm(b_cent, axis=0))
print(coef)
print(np.corrcoef(a, b))

0.05241424183609594
[[1.         0.05241424]
 [0.05241424 1.        ]]

In [49]:
a = np.array([5.1, 1.8, 2.1, 10.3, 12.1, 12.6])
b = np.array([10.2, 3.7, 4.1, 20.5, 24.2, 24.1])
c = np.array([2.5, 0.9, 1.1, 5.1, 6.1, 6.3])
A = np.array([a, b, c]).T
A

array([[ 5.1, 10.2,  2.5],
       [ 1.8,  3.7,  0.9],
       [ 2.1,  4.1,  1.1],
       [10.3, 20.5,  5.1],
       [12.1, 24.2,  6.1],
       [12.6, 24.1,  6.3]])

In [55]:
A_cent = A - A.mean()
A_st = A_cent/np.linalg.norm(A_cent, axis=0)
A_corr = A_st.T@A_st
print(A_corr)
print(np.linalg.matrix_rank(A_corr))
print(round(np.linalg.det(A_corr), 7))

[[ 1.          0.66173983  0.63496562]
 [ 0.66173983  1.         -0.15847199]
 [ 0.63496562 -0.15847199  1.        ]]
3
0.0006315