In [16]:
import numpy as np
import pandas as pd

In [3]:
s = np.array([33, 64, 50, 45])
s

array([33, 64, 50, 45])

In [4]:
print(s[2])
print(len(s))

50
4

In [5]:
a = np.array([10,8, 5, 1])
b = np.array([5, 15, 9, 7])

print(a+b)
print(a- b)

[15 23 14  8]
[ 5 -7 -4 -6]

In [6]:
a = np.array([120, 45, 68])
omega = 0.2

print(a * omega)

[24.   9.  13.6]

In [7]:
a = np.array([120,150, 190])
b = np.array([130, 130, 130])
c = np.array([2, 3, 2.5])

res = a + b + c * 72

print(res)

[394. 496. 500.]

In [8]:
p = np.array([2, 4, 5])
v = np.array([8, 10, 2])
s = np.array([0, 12, 7])
omega1 = 500
omega2 = 100
omega3 = 0

print( p * omega1 + v * omega2 + s * omega3)

[1800 3000 2700]

In [9]:
done = np.array([3, 4, 5, 9])
sell = np.array([1, 5, 3, 6])

res = sell * 400 - done * 200
print(res)

[-200 1200  200  600]

In [10]:
a = np.array([65, 70, 120, 30])
w = np.array([0.4, 0.4, 0.2, 0.8])

print(np.dot(a, w))

102.0

In [11]:
np.zeros(8)

array([0., 0., 0., 0., 0., 0., 0., 0.])

In [12]:
np.ones(3)

array([1., 1., 1.])

In [14]:
np.arange(5, 100, 3)

array([ 5,  8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53,
       56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98])

In [15]:
np.random.randint(3, 8, 7)

array([7, 3, 5, 6, 7, 7, 7])

In [17]:
data = [13,18,7,162]
s = pd.Series(data)
print(s)

0     13
1     18
2      7
3    162
dtype: int64

In [18]:
x = s.values
print(x)

[ 13  18   7 162]

In [19]:
d = {'$$': [65, 70, 120, 35], '2.Area': [50, 52, 80, 33],'3.Rooms':[3,2,1,1], 
     '4.Floor':[5,12,10,3], '5.Demo':[8,4,5,10]}
df = pd.DataFrame(d)
df

    $$  2.Area  3.Rooms  4.Floor  5.Demo
0   65      50        3        5       8
1   70      52        2       12       4
2  120      80        1       10       5
3   35      33        1        3      10

In [21]:
a = df.values
print(a)

[[ 65  50   3   5   8]
 [ 70  52   2  12   4]
 [120  80   1  10   5]
 [ 35  33   1   3  10]]

In [22]:
print(a[1])

[70 52  2 12  4]

In [23]:
print(a[:,1])

[50 52 80 33]

In [25]:
Hut_Paradise_DF = pd.DataFrame({
    '1.Rent': [65, 70, 120, 35, 40, 50, 100, 90, 85], 
    '2.Area': [50, 52, 80, 33, 33, 44, 80, 65, 65], 
    '3.Rooms':[3, 2, 1, 1, 1, 2, 4, 3, 2],
    '4.Floor':[5, 12, 10, 3, 6, 13, 8, 21, 5], 
    '5.Demo two weeks':[8, 4, 5, 10, 20, 12, 5, 1, 10], 
    '6.Liv.Area': [37, 40, 65, 20, 16, 35, 60, 50, 40]
})
Hut_Paradise_DF

   1.Rent  2.Area  3.Rooms  4.Floor  5.Demo two weeks  6.Liv.Area
0      65      50        3        5                 8          37
1      70      52        2       12                 4          40
2     120      80        1       10                 5          65
3      35      33        1        3                10          20
4      40      33        1        6                20          16
5      50      44        2       13                12          35
6     100      80        4        8                 5          60
7      90      65        3       21                 1          50
8      85      65        2        5                10          40

In [27]:
print(Hut_Paradise_DF.values[4])

[40 33  1  6 20 16]

In [28]:
print(Hut_Paradise_DF.values[:,3])

[ 5 12 10  3  6 13  8 21  5]

In [30]:
area = Hut_Paradise_DF.values[:,1]
liv = Hut_Paradise_DF.values[:,5]
res = area - liv

print(res)

[13 12 15 13 17  9 20 15 25]

In [32]:
t = np.array([10, 20, 30, 15, 5, 40, 20, 8, 20])
demo = Hut_Paradise_DF.values[:,4]

res = np.dot(t, demo)
print(res)

1348

In [33]:
u=np.array([3,0,1,1,1])
v=np.array([0,1,0,2,-2])
w=np.array([1,-4,-1,0,-2])

In [34]:
res = 2 * v + (-3) * w
print(res)

[-3 14  3  4  2]

In [35]:
print(np.dot(res, u))

0

In [36]:
import numpy as np

Husband_Income = np.array([100,220,140])
Wife_Income = np.array([150,200,130])
Mother_In_Law_Income = np.array([90,80,100])

Husband_Consumption = np.array([50,50,60])
Wife_Consumption = np.array([100,80,140])
Mother_In_Law_Consumption = np.array([100,20,140])

In [43]:
inc = np.array([Husband_Income, Wife_Income, Mother_In_Law_Income])
inc = inc.T
inc

array([[100, 150,  90],
       [220, 200,  80],
       [140, 130, 100]])

In [44]:
res = np.array([Husband_Consumption, Wife_Consumption, Mother_In_Law_Consumption]).T
res

array([[ 50, 100, 100],
       [ 50,  80,  20],
       [ 60, 140, 140]])

In [46]:
reali = inc - inc * 0.13
reali

array([[ 87. , 130.5,  78.3],
       [191.4, 174. ,  69.6],
       [121.8, 113.1,  87. ]])

In [47]:
p = reali - res
p

array([[ 37. ,  30.5, -21.7],
       [141.4,  94. ,  49.6],
       [ 61.8, -26.9, -53. ]])

In [49]:
A = np.matrix("1, -5; 2, 2; 0, 3")
B = np.matrix("3, 1, 0; -1, 0, 2")
print(A)
print(B)

[[ 1 -5]
 [ 2  2]
 [ 0  3]]
[[ 3  1  0]
 [-1  0  2]]

In [50]:
print(np.dot(A, B))

[[  8   1 -10]
 [  4   2   4]
 [ -3   0   6]]

In [51]:
print(np.dot(B, A))

[[  5 -13]
 [ -1  11]]

In [52]:
a = np.random.randint(5,12, (3,3))
b = np.random.randint(-2, 4, (3,3))
print(a)
print(b)

[[7 8 9]
 [9 6 5]
 [9 9 5]]
[[ 0 -2  0]
 [ 3 -2  0]
 [ 2  3  1]]

In [53]:
print('Поэлементное умножение: ', a*b)

Поэлементное умножение:  [[  0 -16   0]
 [ 27 -12   0]
 [ 18  27   5]]

In [54]:
am = np.matrix(a)
bm = np.matrix(b)
print(am)
print(bm)

[[7 8 9]
 [9 6 5]
 [9 9 5]]
[[ 0 -2  0]
 [ 3 -2  0]
 [ 2  3  1]]

In [55]:
print(am*bm)

[[ 42  -3   9]
 [ 28 -15   5]
 [ 37 -21   5]]

In [56]:
print(np.dot(a, b))

[[ 42  -3   9]
 [ 28 -15   5]
 [ 37 -21   5]]

In [57]:
a = np.random.randint(5, 12, (3,5))
b = np.random.randint(-2, 4, (5,2))
print(a)
print(b)

[[10  5  6  7  8]
 [ 8  5  8 10  8]
 [11 11  7  7 10]]
[[ 1  2]
 [-2 -1]
 [-2  1]
 [ 2 -1]
 [ 3 -1]]

In [58]:
print(a@b)

[[26  6]
 [26  1]
 [19  1]]

In [59]:
a = np.array([[1, 0, 1], [1,1,1]])
b = np.array([-3, 4, 5])
print(a)
print(b)

[[1 0 1]
 [1 1 1]]
[-3  4  5]

In [60]:
print(a@b)

[2 6]

In [62]:
x = np.array([1, 1, 1])
y = np.array([1, 0, -1])
z = np.array([-1, 2, -1])
a = np.array([x, y, z]).T
print(a)

[[ 1  1 -1]
 [ 1  0  2]
 [ 1 -1 -1]]

In [63]:
print(a.T@a)

[[3 0 0]
 [0 2 0]
 [0 0 6]]

In [65]:
x_norm = x / np.linalg.norm(x)
y_norm = y / np.linalg.norm(y)
z_norm = z / np.linalg.norm(z)
a_norm = np.array([x_norm, y_norm, z_norm])
print(a_norm)

[[ 0.57735027  0.57735027  0.57735027]
 [ 0.70710678  0.         -0.70710678]
 [-0.40824829  0.81649658 -0.40824829]]

In [66]:
print(a_norm.T@a_norm)

[[1.00000000e+00 4.58633852e-19 2.21815288e-16]
 [4.58633852e-19 1.00000000e+00 4.58633852e-19]
 [2.21815288e-16 4.58633852e-19 1.00000000e+00]]

In [67]:
print(np.round(a_norm.T@a_norm))

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [68]:
A = np.array([[5,-1,3,1,2], [-2,8,5,-1,1]])
x = np.array([1,2,3,4,5])

In [70]:
print(A)
print(x)

[[ 5 -1  3  1  2]
 [-2  8  5 -1  1]]
[1 2 3 4 5]

In [69]:
print(A@x)

[26 30]

In [71]:
A = np.array([[1,9,8,5], [3,6,3,2], [3,3,3,3], [0,2,5,9], [4,4,1,2]])
B = np.array([[1,-1,0,1,1], [-2,0,2,-1,1]])
print(A)
print(B)

[[1 9 8 5]
 [3 6 3 2]
 [3 3 3 3]
 [0 2 5 9]
 [4 4 1 2]]
[[ 1 -1  0  1  1]
 [-2  0  2 -1  1]]

In [73]:
print(B@A)

[[  2   9  11  14]
 [  8 -10 -14 -11]]

In [74]:
x = np.array([1,2,1,0,4])
y = np.array([2,1,-1,1,0])
z = np.array([-1,1,-1,0,0])

In [75]:
a = np.array([x, y, z])

In [76]:
print(a.T@a)

[[ 6  3  0  2  4]
 [ 3  6  0  1  8]
 [ 0  0  3 -1  4]
 [ 2  1 -1  1  0]
 [ 4  8  4  0 16]]

In [77]:
Count_DF = pd.DataFrame({
    'Женские стрижки': [10, 2, 12, 4, 6, 10, 22, 7], 
    'Мужские стрижки': [5, 21, 12, 8, 25, 3, 1, 0], 
    'Окрашивания':[12, 3, 0, 18, 27, 2, 4, 31],
    'Укладка':[15, 25, 30, 14, 25, 17, 25, 31],
    'Уход':[10, 6, 4, 5, 18, 12, 20, 28]
    }, 
    index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра']
)
Price_DF = pd.DataFrame({
    'Женские стрижки': [2, 1.8, 2, 1.8, 2.5, 5, 1.1, 4.5], 
    'Мужские стрижки': [1.5, 2.5, 2, 1.2, 3.5, 5, 1, 4], 
    'Окрашивания':[1, 1, 0, 2.8, 2, 3, 1.5, 2.5],
    'Укладка':[0.8, 1, 0.5, 0.8, 1, 2, 0.5, 1],
    'Уход':[1, 1, 2, 2, 1.5, 2.5, 1.7, 2] 
    }, 
    index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра']
)
print(Count_DF)
print(Price_DF)

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                 10                5           12       15    10
Борис                2               21            3       25     6
Вика                12               12            0       30     4
Галя                 4                8           18       14     5
Дима                 6               25           27       25    18
Егор                10                3            2       17    12
Женя                22                1            4       25    20
Юра                  7                0           31       31    28
       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                2.0              1.5          1.0      0.8   1.0
Борис              1.8              2.5          1.0      1.0   1.0
Вика               2.0              2.0          0.0      0.5   2.0
Галя               1.8              1.2          2.8      0.8   2.0
Дима               2.5              3.5          2.0      1.0   1.5
Егор               5.0              5.0          3.0      2.0   2.5
Женя               1.1              1.0          1.5      0.5   1.7
Юра                4.5              4.0          2.5      1.0   2.0

In [78]:
 com = np.array([0.2, 0.2, 0.3, 0.1, 0.1])

In [79]:
print(Count_DF*Price_DF@com)

Аня      11.30
Борис    15.22
Вика     11.90
Галя     20.60
Дима     41.90
Егор     21.20
Женя     11.49
Юра      38.25
dtype: float64

In [80]:
print(Count_DF*Price_DF@(np.ones(5) - com))

Аня       50.20
Борис     74.88
Вика      59.10
Галя      67.80
Дима     166.60
Егор     113.80
Женя      66.21
Юра      157.75
dtype: float64

In [81]:
A = np.matrix('1,2,3; 4,5,6; 7, 8, 10')
A

matrix([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8, 10]])

In [82]:
print(np.linalg.inv(A))

[[-0.66666667 -1.33333333  1.        ]
 [-0.66666667  3.66666667 -2.        ]
 [ 1.         -2.          1.        ]]

In [84]:
a = np.matrix("1, 2, 3; 4, 5, 6 ; 7, 8, 10")
print(a)
print(np.linalg.det(a))

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8 10]]
-3.000000000000001

In [85]:
a = np.matrix("2, 0, 0; 0, 1, 0; 0, 0, 4")
print(a)

[[2 0 0]
 [0 1 0]
 [0 0 4]]

In [86]:
print(np.linalg.inv(a))

[[0.5  0.   0.  ]
 [0.   1.   0.  ]
 [0.   0.   0.25]]