In [29]:
import numpy as np
import pandas as pd

from sklearn import decomposition

In [2]:
A = np.matrix([[1,2,3,4],
               [5,5,6,7],
               [1,4,2,3],
               [5,3,2,1],
               [8,1,2,2]])

In [3]:
df = pd.DataFrame(A, columns=['x1', 'x2', 'x3', 'x4'])

In [4]:
df

   x1  x2  x3  x4
0   1   2   3   4
1   5   5   6   7
2   1   4   2   3
3   5   3   2   1
4   8   1   2   2

In [5]:
df_std = (df - df.mean())/df.std()

In [6]:
df_std

         x1        x2        x3        x4
0 -1.000000 -0.632456  0.000000  0.260623
1  0.333333  1.264911  1.732051  1.563740
2 -1.000000  0.632456 -0.577350 -0.173749
3  0.333333  0.000000 -0.577350 -1.042493
4  1.333333 -1.264911 -0.577350 -0.608121

In [8]:
cov_mat = np.cov(df_std.T)
cov_mat

array([[ 1.        , -0.31622777,  0.04811252, -0.18098843],
       [-0.31622777,  1.        ,  0.63900965,  0.61812254],
       [ 0.04811252,  0.63900965,  1.        ,  0.94044349],
       [-0.18098843,  0.61812254,  0.94044349,  1.        ]])

In [9]:
eigen_val, eigen_vecrors = np.linalg.eig(cov_mat)

In [11]:
eigen_vecrors

array([[ 0.16195986, -0.91705888, -0.30707099,  0.19616173],
       [-0.52404813,  0.20692161, -0.81731886,  0.12061043],
       [-0.58589647, -0.3205394 ,  0.1882497 , -0.72009851],
       [-0.59654663, -0.11593512,  0.44973251,  0.65454704]])

In [15]:
eigen_vecrors.T

array([[ 0.16195986, -0.52404813, -0.58589647, -0.59654663],
       [-0.91705888,  0.20692161, -0.3205394 , -0.11593512],
       [-0.30707099, -0.81731886,  0.1882497 ,  0.44973251],
       [ 0.19616173,  0.12061043, -0.72009851,  0.65454704]])

In [27]:
a = np.array(df_std)

In [28]:
a@eigen_vecrors.T[0:2].T

array([[ 1.40033078e-02,  7.55974765e-01],
       [-2.55653399e+00, -7.80431775e-01],
       [-5.14801919e-02,  1.25313470e+00],
       [ 1.01415002e+00,  2.38808310e-04],
       [ 1.57986086e+00, -1.22891650e+00]])

In [30]:
pca = decomposition.PCA(n_components=2)
res = pca.fit_transform(df_std)
res

array([[-1.40033078e-02,  7.55974765e-01],
       [ 2.55653399e+00, -7.80431775e-01],
       [ 5.14801919e-02,  1.25313470e+00],
       [-1.01415002e+00,  2.38808310e-04],
       [-1.57986086e+00, -1.22891650e+00]])

In [32]:
a = np.array([[3,4,1], [1, 6, 2]])

In [35]:
b = np.cov(a)

In [36]:
np.sum(b)

14.333333333333334

In [37]:
A = np.matrix([[8,7,2,9],
               [1,3,6,3],
               [7,2,0,3],
               [10,3,1,1],
               [8,1,3,4]])

In [39]:
df = pd.DataFrame(A)
df_std = (df - df.mean())/df.std()
df_std

          0         1         2         3
0  0.350823  1.666410 -0.173749  1.666667
1 -1.695646 -0.087706  1.563740 -0.333333
2  0.058471 -0.526235 -1.042493 -0.333333
3  0.935529 -0.087706 -0.608121 -1.000000
4  0.350823 -0.964764  0.260623  0.000000

In [40]:
pca = decomposition.PCA(n_components=0.9)
pC = pca.fit_transform(df_std)

In [41]:
pC

array([[-1.61145254,  1.76368007,  0.01320928],
       [ 2.08441051,  1.01724955, -0.24417084],
       [-0.29568142, -0.95946326, -0.05272576],
       [-0.50390826, -1.24373821, -0.50808763],
       [ 0.3266317 , -0.57772816,  0.79177495]])